<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<classPathEntry
		location="/Users/Ivan/dev/m2/repository/mysql/mysql-connector-java/5.1.15/mysql-connector-java-5.1.15.jar" />

	<context id="context1" targetRuntime="MyBatis3">

		<plugin type="org.mybatis.generator.plugins.MySqlPaginationPlugin" />

		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://192.168.1.230:3306/test" userId="mysql"
			password="mysql" />

		<javaModelGenerator targetPackage="com.sks.basic.simple.service.model"
			targetProject="src/main/java" />

		<sqlMapGenerator targetPackage="com.sks.basic.simple.service.dao.impl"
			targetProject="src/main/java" />

		<javaClientGenerator targetPackage="com.sks.basic.simple.service.dao"
			targetProject="src/main/java" type="XMLMAPPER" />


		<table tableName="test" domainObjectName="Test" ></table>


	</context>
</generatorConfiguration>