<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<!-- 1.修改mysql jar目录 -->
	<!--<classPathEntry
		location="E:\JavaEE\.m2\repository\mysql\mysql-connector-java\5.1.15\mysql-connector-java-5.1.15.jar" />-->

	<context id="context1" targetRuntime="MyBatis3">

		<!--<plugin type="org.mybatis.org.mybatis.generator.plugins.MySqlPaginationPlugin"/>-->

		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<!-- 2.修改mysql 数据源 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/njit_report"
			userId="root" password="root" />

		<!-- 3.修改model、Dao、Mapper存放目录 -->
		<!-- po类 -->
		<javaModelGenerator targetPackage="com.tss.report.services.task.po"
			targetProject="src/main/java" />

		<!-- xml -->
		<sqlMapGenerator targetPackage="com.tss.report"
			targetProject="src/main/java" />

		<!-- 接口 -->
		<javaClientGenerator targetPackage="com.tss.report.services.task.dao"
			targetProject="src/main/java" type="XMLMAPPER" />


		<!-- 4.填写表名和实体类名 -->
		<!--<table tableName="test" domainObjectName="Test" ></table>-->
		<!--<table tableName="sks_retail_settle_contract" domainObjectName="RetailSettleContract" 
			   enableCountByExample="false" enableDeleteByExample="false"
			   enableSelectByExample="false" enableUpdateByExample="false"/>-->
		<table tableName="njit_task" domainObjectName="Task"
			   enableCountByExample="false" enableDeleteByExample="false"
			   enableSelectByExample="false" enableUpdateByExample="false"/>

		<table tableName="njit_task_class" domainObjectName="TaskClass"
			   enableCountByExample="false" enableDeleteByExample="false"
			   enableSelectByExample="false" enableUpdateByExample="false"/>

	</context>
</generatorConfiguration>